<%- include('../includes/begin.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="content" style="margin-top: 35px;">
                <form action="/<% if(editing) { %>edit-product <% } else { %>add-product <% } %> " method="POST" enctype="multipart/form-data">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <% if(editing) { %>
                                    <h4>Product ID: #
                                        <%= product._id %>
                                    </h4>
                                    <% } %>
                                        <div class="bg-edit">
                                            <div class="product-content">
                                                <label for="name">Product name</label>
                                                <input type="text" name="name" id="name" value="<% if(editing) { %><%=product.name %><% } %>">
                                                <div class="product-content">
                                                    <label for="price">Product Price &nbsp;</label>
                                                    <input type="number" name="price" id="price" step="0.01" value="<% if(editing) { %><%=product.price %><% } %>">
                                                </div>
                                                <div class="product-content">
                                                    <label for="filter">Product Filter &nbsp;</label>
                                                    <input type="text" name="filter" id="filter" value="<% if(editing) { %><%=product.filter %><% } %>">
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <label for="imageUrl1">Image URL 1</label>
                                                <input type="file" name="imageUrl" id="imageUrl1">
                                            </div>
                                            <div class="product-content">
                                                <label for="imageUrl1">Image URL 1</label>
                                                <input type="file" name="imageUrl" id="imageUrl1">
                                            </div>
                                            <div class="product-content">
                                                <label for="imageUrl1">Image URL 1</label>
                                                <input type="file" name="imageUrl" id="imageUrl1">
                                            </div>
                                            <div class="product-content">
                                                <p style="font-weight: 400;">Description - </p>
                                                <textarea name="description" id="description" rows="5"><% if(editing) { %><%=product.description %><% } %></textarea>
                                            </div>
                                            <% if(editing) {  %>
                                                <input type="hidden" name="productId" value="<%=product._id%>">
                                                <% } %>

                                                    <button class="btn" type="submit"><% if(editing) { %> Update Product <% } else { %> Add Product <% } %> </button>
                                        </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <%- include('../includes/end.ejs') %>