<%- include('../includes/begin.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs',{path:path}) %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title mt-0">Products Manage Table</h4>
                                    <a href="/add-product" class="btn-add"><i class="fa fa-plus"> Add Product</i></a>
                                </div>
                                <% if(products.length > 0) { %>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead class="">
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Filter</th>
                                                    <th>Image</th>
                                                    <th>Manage</th>
                                                </thead>
                                                <tbody>
                                                    <%  for(let product of products) { %>
                                                        <tr>
                                                            <td>
                                                                <%= product._id %>
                                                            </td>
                                                            <td>
                                                                <%= product.name %>
                                                            </td>
                                                            <td>
                                                                $
                                                                <%= product.price %>
                                                            </td>
                                                            <td>
                                                                <%= product.filter %>
                                                            </td>
                                                            <td>
                                                                <img src="<%= product.imageUrl.detail_1 %>" class="img-list">
                                                                <img src="<%= product.imageUrl.detail_2 %>" class="img-list">
                                                                <img src="<%= product.imageUrl.detail_3 %>" class="img-list">
                                                            </td>
                                                            <td>
                                                                <a href="/edit-product/<%=product._id %>?edit=true" class="btn" style="float: left;margin-right: 10px;"><i class="fa fa-pencil"></i></a>
                                                                <form action="/delete-product" method="POST">
                                                                    <input type="hidden" value="<%=product._id %>" name="productId">
                                                                    <button class="btn" type="submit"><i class="fa fa-times"></i></button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        <% }  %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <%- include('../includes/pagination.ejs',
                                    {currentPage:currentPage,
                                    prevPage:prevPage,
                                    hasPrevPage:hasPrevPage,
                                    hasNextPage:hasNextPage,
                                    nextPage:nextPage,
                                    currentPageQuery:currentPageQuery,
                                    nextPageQuery:nextPageQuery,
                                    prevPageQuery:prevPageQuery}) %>
                                        <% } else {%>
                                            <h3 style="text-align: center; margin-top: 20px;">No product found !</h3>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../includes/end.ejs') %>